@model ProyectoWebCursoLenguajes.Models.Proveedor

@{
    ViewData["Title"] = "Eliminar Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Estás seguro que quieres eliminar este proveedor?</h3>
<hr />

<div>
    <h5>Detalle del Proveedor</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idProveedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idProveedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cedulaLegal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cedulaLegal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombreCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombreCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.direccionExacta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.direccionExacta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.contacto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.contacto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idProducto)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="idProveedor" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la Lista</a>
    </form>
</div>
