@model IEnumerable<ProyectoWebCursoLenguajes.Models.Proveedor>

@{
    ViewData["Title"] = "Inicio del Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inicio</h1>

<hr />
<p>
    <a type="button" class="btn btn-primary btn-sm mr-1 mb-2" asp-action="Create">Crear Nuevo Proveedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cedulaLegal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccionExacta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cedulaLegal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccionExacta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idProducto)
                </td>
                <td>
                    <a type="button" class="btn btn-primary btn-sm mr-1 mb-2" asp-action="Edit" asp-route-id="@item.idProveedor">Modificar</a> |
                    <a type="button" class="btn btn-primary btn-sm mr-1 mb-2" asp-action="Details" asp-route-id="@item.idProveedor">Detalles</a> |
                    <a type="button" class="btn btn-primary btn-sm mr-1 mb-2"asp-action="Delete" asp-route-id="@item.idProveedor">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
