@model ProyectoWebCursoLenguajes.Models.ProveedorProducto

@{
    ViewData["Title"] = "Detalle de Proveedor-Productp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de Proveedor-Producto</h1>
<hr />
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idProveedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idProveedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idProducto)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-primary btn-sm mr-1 mb-2" asp-action="Edit" asp-route-id="@Model.idProveedor">Editar</a> |
    <a asp-action="Index">Regresar a la Lista</a>
</div>
