@model IEnumerable<ProyectoWebCursoLenguajes.Models.ProveedorProducto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle de Proveedor-Producto</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                <a type="button" class="btn btn-primary btn-sm mr-1 mb-2" asp-action="Edit" asp-route-id="@item.idProveedor">Modificar</a> |
                <a type="button" class="btn btn-primary btn-sm mr-1 mb-2" asp-action="Details" asp-route-id="@item.idProveedor">Detalles</a> |
                <a type="button" class="btn btn-primary btn-sm mr-1 mb-2" asp-action="Delete" asp-route-id="@item.idProveedor">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
